@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #071022;
  font-family: 'Inter', sans-serif;
}
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(56, 189, 248, 0.6) transparent;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgba(56, 189, 248, 0.9),
    rgba(16, 185, 129, 0.8)
  );
  border-radius: 999px;
}
